{% extends 'base_blog.html' %}

{% block title %}MahiruBlog - {{ blog.title }}{% endblock %}

{% block style %}
<style>
    .arrow-left {
        max-width: 100%;
    }
    .arrow-left:hover {
        color: #007bff;
        cursor: pointer;
        text-decoration: none;
        transform: scale(1.02);
        transition: transform 0.2s ease-in-out;
    }
    
</style>

{% endblock %}


{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ blog.title }}</h1>
</div>
<div class="row justify-content-center">
    <div class="col-md-6">
        {% if blog.preview_image %}
            <img src="{{ blog.preview_image.url }}" alt="{{ blog.title }}" class="img-fluid mb-3 me-0 rounded-3">
        {% else %}
            <img src="https://imgholder.ru/600x300/8493a8/adb9ca&text=IMAGE+HOLDER&font=kelson" alt="{{ blog.title }}" class="img-fluid mb-3 rounded-3">
        {% endif %}
    </div>
    <div class="col-md-6 d-flex flex-column">
        <div class="d-flex align-items-center">
            <h5 class="me-2">Создан:</h5>
            <h5 class="text-muted">{{ blog.created_at|date:"d.m.Y H:i" }}</h5>
        </div>
        <hr class="my-0">
        <h2>Описание:</h2>
        <p class="text-justify text-muted">{{ blog.content }}</p>
        <div class="mt-auto w-20">
            <p class="text-muted mt-auto">Просмотрено: {{ blog.view_count }}</p>
            <div class="btn-group">
                {% if blog.is_published %}
                    {% if user == blog.owner or perms.blog.can_unpublish_blog %}
                        <button class="btn btn-danger btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#unpublishBlog">Снять с публикации</button>
                    {% else %}
                        <button class="btn btn-success btn-lg btn-block mb-3" disabled>Опубликовано</button>
                    {% endif %}

                {% else %}
                    <button type="submit" class="btn btn-success btn-lg mb-3" data-bs-toggle="modal" data-bs-target="#publishBlog">Опубликовать</button>
                {% endif %}
                <a href="{% url 'blogs' %}" class="btn btn-secondary btn-lg btn-block mb-3">Назад</a>
            </div>
            <div class="btn-group">
                {% if user == blog.owner %}
                <a href="{% url 'blog-update' blog.id %}" class="btn btn-primary btn-lg btn-block mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square mb-1" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                </a>
                {% endif %}
                {% if user == blog.owner or perms.blog.delete_blog %}
                <button class="btn btn-danger btn-lg btn-block mb-3" data-bs-toggle="modal" data-bs-target="#deleteBlog">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash-fill mb-1" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                    </svg>
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% include 'includes/blog_modal.html' %}
{% include 'includes/footer_blog.html' %}
{% endblock %}
